.second-card {
  width: 75%;
  margin: 10%;
}

.content {
  font-size: 16px;
  font-weight: bold;
  padding: 10px 10px;
}

#red {
  color: #c40233;
}

//.event:hover {
//  cursor: pointer;
//}

#green {
  color: #388E3C;
}

.mat-icon {
  //background-color: red;
}
