<mat-card>
  <mat-card-header style="justify-content: left">
    <mat-card-title>
      <div>
        {{ meeting.name }}
      </div>
      <div>
        ID: {{ meeting.meeting_number }}
      </div>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>

  </mat-card-content>
  <mat-card-actions fxLayout="row" fxLayoutAlign="end center">
    <ng-container
      *ngIf="this.monitored !== undefined && this.mlMonitored !== undefined ; then monitoringOn; else monitoringOff">
    </ng-container>
    <ng-template #monitoringOn>
      <div>
        ML
        <span class="space"></span>
        <span class="down">
        <mat-slide-toggle class="setting-toogle"
                          color="warn"
                          [checked]="this.mlMonitored"
                          (change)=onMLMonitoringChange($event.checked)
                          [disabled]="!this.last">

        </mat-slide-toggle>
          </span>
        <span class="admin">
           Admin
          <span class="space"></span>
        <mat-slide-toggle class="setting-toogle"
                          color="warn"
                          [checked]="this.monitored"
                          (change)=onMonitoringChange($event.checked)
                          [disabled]="this.meeting.criteria.length === 0">

        </mat-slide-toggle>
        </span>
      </div>

      <span [matBadge]="''+count" matBadgeColor="warn" [matBadgeHidden]="count === 0" matBadgeOverlap="false"></span>
    </ng-template>

    <ng-template #monitoringOff>
      <div class="progress-bar" fxLayoutAlign="center center">
        <app-progress-bar></app-progress-bar>
      </div>
    </ng-template>


    <span class="app-spacer"></span>
    <i class="app-icon fa fa-lightbulb-o" title="Train anomaly model" (click)="onModelClick()"></i>
    <i class="app-icon fa fa-pencil-square-o" title="Set manual anomaly conditions" (click)="onSettingClick()"></i>
    <i class="app-icon fa fa-retweet" title="Evaluate models on historical data" (click)="onInferenceClick()"></i>
    <i class="app-icon fa fa-history" title="Check anomaly history" (click)="onHistoryClick()"></i>
    <i class="app-icon fa fa-trash" title="Delete observed room" (click)="onDeleteClick()"></i>
  </mat-card-actions>


</mat-card>
