table {
  width: 100%;
}

.history-body {
  width: 1300px;
}

#green {
  color: #388E3C;
}

.history-card {
  width: 100%;
}

.subanomaly {
}

.report {
  position: relative;
  right: 40px;
  bottom: 55px;
}

.app-icon {
  transform: scale(1.3);
}

.fake-pad {
  padding-right: 30px;
}

td.mat-cell{
  border-bottom-style: none;
}

:not(.subanomaly) > td{
  border-top: 2px solid #878787;
}

.first {
  width: 250px;
}

.second {
  padding-left: 30px;
  width: 250px;
}

.card-deck-container {
  max-height: 700px;
  overflow: auto;
}
