<div class="history-body">
  <mat-card class="history-card">
    <div fxLayout="row">
      <span class="app-spacer"></span>
      <i id="close-icon" class="app-icon fa fa-times-circle" (click)="onExitClick()"></i>
    </div>
    <mat-card-header style="justify-content: center">
      <mat-card-title style="text-align: center;">
        <h2>Anomaly history</h2>
        <h3>{{ meeting.name }}</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class=" mat-elevation-z4">
      <ng-container
        *ngIf="anomaliesHistoryView && meetingsHistory; then historyOn; else historyOff">
      </ng-container>
      <ng-template #historyOn>
        <div>
            <mat-form-field class="first" appearance="fill">
              <mat-label>Select meeting</mat-label>
              <mat-select [(ngModel)]="selectedMeeting" (selectionChange)="onSelectMeetingChange()">
                <mat-option value="all">
                  all
                </mat-option>
                <mat-option *ngFor="let meeting of meetingsHistory" [value]="meeting.start.toISOString()">
                  {{meeting.start.toLocaleString('en-GB', options)}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="second" appearance="fill">
              <mat-label>Select model</mat-label>
              <mat-select [(value)]="selectedModel" (selectionChange)="onSelectModelChange()">
                <mat-option *ngFor="let model of filterModels" [value]="model">
                  {{ model }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="second" appearance="fill">
              <mat-label>Select parameter</mat-label>
              <mat-select [(value)]="selected" (selectionChange)="onSelectChange()">
                <mat-option *ngFor="let type of filterTypes" [value]="type">
                  {{ type }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          <span class="big-pad"></span>
          <span class="report">
               <button title="Generate pdf" mat-icon-button (click)="generateReport()">
                 <i class="app-icon fa fa-2x fa-file-pdf-o"></i>
               </button>
            <span class="fake-pad"></span>
              <button title="Download logs" mat-icon-button [disabled]="this.selectedMeeting === 'all'" (click)="downloadZip()">
                <i class="app-icon fa fa-2x fa-file-archive-o"></i>
              </button>
            </span>

        </div>

        <div class="card-deck-container">
          <table mat-table [dataSource]="anomaliesHistoryView">
            <!-- Type Column -->

            <ng-container matColumnDef="type">
              <th mat-header-cell *matHeaderCellDef>Type</th>
              <td mat-cell *matCellDef="let element">
                <ng-container [ngSwitch]="element.type">
                  <mat-icon mat-list-icon *ngSwitchCase="'ml_model'">emoji_objects</mat-icon>
                  <mat-icon mat-list-icon *ngSwitchCase="'time_diff'">query_builder</mat-icon>
                  <mat-icon mat-list-icon *ngSwitchCase="'recording'">video_call</mat-icon>
                  <mat-icon mat-list-icon *ngSwitchCase="'streaming'">ondemand_video</mat-icon>
                  <mat-icon mat-list-icon *ngSwitchCase="'max_participants'">group_add</mat-icon>
                  <mat-icon mat-list-icon *ngSwitchCase="'active_speaker'">record_voice_over</mat-icon>
                  <mat-icon mat-list-icon *ngSwitchCase="'day'">event_busy</mat-icon>
                  <mat-icon mat-list-icon *ngSwitchCase="'datetime'">event_busy</mat-icon>
                  <mat-icon mat-list-icon *ngSwitchDefault>warning</mat-icon>
                </ng-container>
              </td>
            </ng-container>

            <!-- Start Date Column -->
            <ng-container matColumnDef="startDate">
              <th mat-header-cell *matHeaderCellDef>Start Date</th>
              <td mat-cell *matCellDef="let element"> {{element.startDate.toLocaleString('en-GB', options)}} </td>
            </ng-container>

            <!-- End Date Column -->
            <ng-container matColumnDef="endDate">
              <th mat-header-cell *matHeaderCellDef>End Date</th>
              <td mat-cell *matCellDef="let element"> {{element.endDate.toLocaleString('en-GB', options)}} </td>
            </ng-container>


            <!-- Occurrence Column -->
            <ng-container matColumnDef="occurrence">
              <th mat-header-cell *matHeaderCellDef>Occurrence</th>
              <td mat-cell *matCellDef="let element"> {{element.occurrence}} </td>
            </ng-container>

            <!-- Parameter Column -->
            <ng-container matColumnDef="parameter">
              <th mat-header-cell *matHeaderCellDef>Parameter</th>
              <td mat-cell *matCellDef="let element"> {{element.parameter}} </td>
            </ng-container>


            <!-- Condition Type Column -->
            <ng-container matColumnDef="conditionType">
              <th mat-header-cell *matHeaderCellDef>Condition Type</th>
              <td mat-cell *matCellDef="let element"> {{element.conditionType}} </td>
            </ng-container>

            <!-- Value Column -->
            <ng-container matColumnDef="reason">
              <th mat-header-cell *matHeaderCellDef>Observed Value</th>
              <td mat-cell *matCellDef="let element"> {{element.reason}} </td>
            </ng-container>

            <!-- Condition Value Column -->
            <ng-container matColumnDef="conditionValue">
              <th mat-header-cell *matHeaderCellDef>Condition Value</th>
              <td mat-cell *matCellDef="let element"> {{element.conditionValue}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                [ngClass]="{'subanomaly': row.date === '' }"></tr>
          </table>
        </div>
      </ng-template>
      <ng-template #historyOff>
        <div fxLayoutAlign="center center">
          <app-progress-bar></app-progress-bar>
        </div>
      </ng-template>

    </mat-card-content>
  </mat-card>
</div>
