.model-card {
  width: 70%;
}

.model-card {
  width: 800px;
}

.custom-slider {
  width: 80%;
}

.custom-one-slider {
  transform: scale(2.5);
}

.save-button {
  font-weight: 600;
  height: 60px;
  width: 200px;
  margin: 20px 0 0 0;
}

.lefter {
  left: 50px;
}

.row {
  height: 100px;
}

.calendar {
  transform: scale(1.3);
  padding-top: 20px;
}
