<div>
  <mat-card class="model-card">
    <div fxLayout="row">
      <span class="app-spacer"></span>
      <i id="close-icon" class="app-icon fa fa-times-circle" (click)="onExitClick()"></i>
    </div>
    <mat-card-header style="justify-content: center">
      <mat-card-title style="text-align: center;">
        <h2>Model training</h2>
        <h3>{{ meeting.name }}</h3>
        <div *ngIf="last">
          <h4>Last training: {{ last }}</h4>
        </div>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-deck-container mat-elevation-z4">
      <ng-container
        *ngIf="last; then infoOn; else infoOff">
      </ng-container>
      <ng-template #infoOn>
        <div class="row" fxLayout="row" fxLayoutAlign="center center">
          <div class="lefter" fxFlex="20%" fxLayoutAlign="left center">
            Train data range:
          </div>
          <div class="calendar" fxFlex="70%" fxLayoutAlign="center center">
            <mat-form-field>
              <input matInput
                     placeholder="Date range"
                     [satDatepicker]="picker"
                     [value]="date"
                     (dateChange)="saveDate($event)">
              <sat-datepicker #picker [rangeMode]="true"></sat-datepicker>
              <sat-datepicker-toggle matSuffix [for]="picker"></sat-datepicker-toggle>
            </mat-form-field>
          </div>
        </div>


        <div class="row" fxLayout="row" fxLayoutAlign="center center">
          <div class="lefter" fxFlex="20%" fxLayoutAlign="left center">
            Minimum participants:
          </div>
          <div fxFlex="70%" fxLayoutAlign="center center">
            <div class="custom-one-slider">
              <mat-slider [(ngModel)]="participants"
                          [min]=0
                          [max]=250
                          [tickInterval]=1
                          [thumbLabel]=true></mat-slider>
            </div>
          </div>
        </div>

        <div class="row" fxLayout="row" fxLayoutAlign="center center">
          <div class="lefter" fxFlex="20%" fxLayoutAlign="left center">
            Minimum duration:
          </div>
          <div fxFlex="70%" fxLayoutAlign="center center">
            <div class="custom-one-slider">
              <mat-slider [(ngModel)]="duration"
                          [min]=0
                          [max]=480
                          [displayWith]="formatLabel"
                          [tickInterval]=1
                          [thumbLabel]=true></mat-slider>
            </div>
          </div>
        </div>

        <div class="row" fxLayout="row" fxLayoutAlign="center center">
          <div class="lefter" fxFlex="20%" fxLayoutAlign="left center">
            Anomaly threshold:
          </div>
          <div fxFlex="70%" fxLayoutAlign="center center">
            <div class="custom-one-slider">
              <mat-slider [(ngModel)]="threshold"
                          [min]=75
                          [max]=100
                          [displayWith]="formatPercent"
                          [tickInterval]=1
                          [thumbLabel]=true></mat-slider>
            </div>
          </div>
        </div>

        <mat-card-actions>
          <div fxLayout="row" fxLayoutAlign="center center">
            <div fxFlex="50%" fxLayoutAlign="center center">
              <button class="save-button"
                      mat-flat-button
                      color="warn"
                      (click)="restore()">
                Restore default <i class="app-icon-medium fa fa-trash fa-2x"></i>
              </button>
            </div>
            <div fxFlex="50%" fxLayoutAlign="center center">
              <button class="save-button"
                      mat-flat-button
                      color="primary"
                      (click)="save()">
                Train model <i class="app-icon-medium fa fa-save fa-2x"></i>
              </button>
            </div>
          </div>
        </mat-card-actions>

      </ng-template>
      <ng-template #infoOff>
        <div fxLayoutAlign="center center">
          <app-progress-bar></app-progress-bar>
        </div>
      </ng-template>
    </mat-card-content>
  </mat-card>
</div>
