.model-card {
  width: 70%;
}

.model-card {
  width: 800px;
}

.custom-slider {
  width: 80%;
}

.custom-one-slider {
  transform: scale(2);
}

.save-button {
  font-weight: 600;
  height: 60px;
  width: 200px;
  margin: 20px 0 0 0;
}
