.mat-row {
  height: auto;
}

.mat-cell {
  padding: 8px 20px 8px 0;
}


.notification-body {
  width: 100%;
}

#green {
  color: #388E3C;
}

.highlight{
  background: grey;
}

.main {
  max-height: 600px;
}

.mat-table {
  overflow-x: auto;
  width: 100%;
  min-width: 500px;
}
