.card-deck-container {
  width: 100%;
  position: relative;
  border-radius: 2px;
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 0px;
  background-color: #202020;
}

.card-item {
  padding: 5px 5px 5px 5px;
}

.add-card:hover {
  cursor: pointer;
}

.setting-card {
  width: 100%;
  position: relative;
}

.back-card:hover {
  cursor: pointer;
}

.main-body {
  width: 100%;
}

.main-body > mat-card {
  width: 98%;
}

.search-engine {
  padding-left: 100px;
}

#meeting {
  width: 500px;
  height: 500px;
}

.add-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 100%;
  background-color: darkcyan;
  width: 447px;
  font-size: 13px;
  height: 150px;
}
