<div class="main-body" fxLayout="column">
  <ng-container [ngSwitch]="selected">
    <ng-container *ngSwitchCase="'history'">
      <app-meeting-history
        [meeting]="historyMeeting"
        (exitClick)="initAllMeetings()"
      ></app-meeting-history>
    </ng-container>
    <ng-container *ngSwitchCase="'setting'">
      <app-meeting-setting
        [meeting]="settingMeeting"
        (exitClick)="initAllMeetings()"
        (successClick)="onSuccessCriteria()"
      ></app-meeting-setting>
    </ng-container>
    <ng-container *ngSwitchCase="'model'">
      <app-meeting-model
        [meeting]="modelMeeting"
        (exitClick)="initAllMeetings()"
        (successClick)="onSuccessCriteria()"
      ></app-meeting-model>
    </ng-container>
    <ng-container *ngSwitchCase="'inference'">
      <app-meeting-inference
        [meeting]="inferenceMeeting"
        (exitClick)="initAllMeetings()"
        (successClick)="onHistoryClick($event)"
      ></app-meeting-inference>
    </ng-container>
    <ng-container *ngSwitchDefault>
      <mat-card>
        <mat-card-header style="justify-content: center">
          <mat-card-title>
            <h2>Rooms</h2>
          </mat-card-title>
        </mat-card-header>
        <ng-container *ngIf="viewMeetings; then spinnerOff; else spinner">
        </ng-container>
        <ng-template #spinnerOff>
          <app-meeting-type-select
            (selectedChange)="changeMeetingType($event)"
            [selected]="meetingType"
          >
          </app-meeting-type-select>
          <span class="search-engine">
            <mat-form-field>
              <mat-label>Filter by name</mat-label>
              <input matInput [ngModel]="val" (ngModelChange)="filterNames($event)">
            </mat-form-field>
          </span>
          <span class="search-engine">
            <mat-form-field>
              <mat-label>Filter by ID</mat-label>
              <input matInput [ngModel]="id" (ngModelChange)="filterIds($event)">
            </mat-form-field>
          </span>
          <mat-card-content>
            <div
              fxLayout="row wrap"
              fxFlex.md="50"
              class="card-deck-container mat-elevation-z3"
            >
              <div
                *ngFor="let meeting of viewMeetings.created"
                class="card-item"
              >
                <app-meeting-card-created
                  [meeting]="meeting"
                  (modelEmitter)="onModelClick(meeting)"
                  (historyEmitter)="onHistoryClick(meeting)"
                  (deleteEmitter)="onDeleteClick(meeting)"
                  (settingEmitter)="onSettingClick(meeting)"
                  (inferenceEmitter)="onInferenceClick(meeting)"
                >
                </app-meeting-card-created>
              </div>

              <div
                *ngFor="let meeting of viewMeetings.current"
                class="card-item"
              >
                <app-meeting-card-current
                  [meeting]="meeting"
                  (modelEmitter)="onModelClick(meeting)"
                  (historyEmitter)="onHistoryClick(meeting)"
                  (settingEmitter)="onSettingClick(meeting)"
                  (inferenceEmitter)="onInferenceClick(meeting)"
                >
                </app-meeting-card-current>
              </div>

              <div
                *ngFor="let meeting of viewMeetings.recent"
                class="card-item"
              >
                <app-meeting-card-recent
                  [meeting]="meeting"
                  (historyEmitter)="onHistoryClick(meeting)"
                  (inferenceEmitter)="onInferenceClick(meeting)"
                >
                </app-meeting-card-recent>
              </div>

              <div *ngIf="meetingType == 'created'" class="card-item">
                <mat-card
                  class="add-card"
                  (click)="newMeetingDialog()"
                >
                  <mat-card-header fxLayout="row" fxLayoutAlign="center center">
                    <mat-card-title> Add room to observed</mat-card-title>
                  </mat-card-header>
                </mat-card>
              </div>

              <!--              <div class="footer" *ngIf="allMeetings.current.length !== 0">-->
              <!--                &lt;!&ndash; todo - make it working &ndash;&gt;-->
              <!--                <mat-paginator-->
              <!--                  [length]="paginatorSize"-->
              <!--                  [pageSize]="numberOfProductsDisplayedInPage"-->
              <!--                  [pageSizeOptions]="pageSizeOptions"-->
              <!--                  (page)="updateMeetingsDisplayedInPage($event)"-->
              <!--                >-->
              <!--                </mat-paginator>-->
              <!--              </div>-->
            </div>
          </mat-card-content>
        </ng-template>
        <ng-template #spinner>
          <mat-card-content fxLayout="row wrap">
            <span class="app-spacer"></span>
            <app-progress-bar></app-progress-bar>
            <span class="app-spacer"></span>
          </mat-card-content>
        </ng-template>
      </mat-card>
    </ng-container>
  </ng-container>
</div>
