<div class="main-body" fxLayout="column">
  <ng-container [ngSwitch]="selected">
    <ng-container *ngSwitchCase="'history'">
      <app-meeting-history
        [meeting]="historyMeeting"
        (exitClick)="initAllMeetings()"
      ></app-meeting-history>
    </ng-container>
    <ng-container *ngSwitchCase="'setting'">
      <app-meeting-setting
        [meeting]="settingMeeting"
        (exitClick)="initAllMeetings()"
      ></app-meeting-setting>
    </ng-container>
    <ng-container *ngSwitchDefault>
      <mat-card>
        <mat-card-header style="justify-content: center">
          <mat-card-title>
            <h2>Meetings</h2>
          </mat-card-title>
        </mat-card-header>
        <ng-container *ngIf="selectedMeetings; then spinnerOff; else spinner">
        </ng-container>
        <ng-template #spinnerOff>
          <app-meeting-type-select
            (selectedChange)="changeMeetingType($event)"
            [selected]="meetingType"
          >
          </app-meeting-type-select>
          <mat-card-content>
            <div
              fxLayout="row wrap"
              fxFlex.md="50"
              class="card-deck-container mat-elevation-z3"
            >
              <div
                *ngFor="let meeting of selectedMeetings.created"
                class="card-item"
              >
                <app-meeting-card-created
                  [meeting]="meeting"
                  (historyEmitter)="onHistoryClick(meeting)"
                  (deleteEmitter)="onDeleteClick(meeting)"
                  (settingEmitter)="onSettingClick(meeting)"
                >
                </app-meeting-card-created>
              </div>

              <div
                *ngFor="let meeting of selectedMeetings.current"
                class="card-item"
              >
                <app-meeting-card-current
                  [meeting]="meeting"
                  (historyEmitter)="onHistoryClick(meeting)"
                  (settingEmitter)="onSettingClick(meeting)"
                >
                </app-meeting-card-current>
              </div>

              <div
                *ngFor="let meeting of selectedMeetings.recent"
                class="card-item"
              >
                <app-meeting-card-recent
                  [meeting]="meeting"
                  (historyEmitter)="onHistoryClick(meeting)"
                >
                </app-meeting-card-recent>
              </div>

              <div *ngIf="meetingType == 'created'" class="card-item">
                <mat-card
                  class="add-card"
                  (click)="newMeetingDialog()"
                >
                  <mat-card-header fxLayout="row" fxLayoutAlign="center center">
                    <mat-card-title> Dodaj spotkanie</mat-card-title>
                  </mat-card-header>
                </mat-card>
              </div>

              <div class="footer" *ngIf="allMeetings.current.length !== 0">
                <!-- todo - make it working -->
                <mat-paginator
                  [length]="paginatorSize"
                  [pageSize]="numberOfProductsDisplayedInPage"
                  [pageSizeOptions]="pageSizeOptions"
                  (page)="updateMeetingsDisplayedInPage($event)"
                >
                </mat-paginator>
              </div>
            </div>
          </mat-card-content>
        </ng-template>
        <ng-template #spinner>
          <mat-card-content fxLayout="row wrap">
            <span class="app-spacer"></span>
            <app-progress-bar></app-progress-bar>
            <span class="app-spacer"></span>
          </mat-card-content>
        </ng-template>
      </mat-card>
    </ng-container>
  </ng-container>
</div>
