table {
  width: 100%;
}

.history-body {
  width: 1000px;
}

#green {
  color: #388E3C;
}

.history-card {
  width: 100%;
}

.subanomaly {
}

.report {
  position: relative;
  right: 40px;
  bottom: 50px;
}

//.subanomaly table {
//  border: 0;
//}

td.mat-cell {
  border-bottom-style: none;
}

:not(.subanomaly) > td {
  border-top: 2px solid #878787;
}

.first {
  width: 250px;
  padding-left: 8.25%;
}

.second {
  padding-left: 30px;
  width: 250px;
}

.inner-mat {
  width: 80%;
}

.container {
  height: 400px;
}

.setting-card {
  width: 70%;
}


.setting-toogle-div {
  width: 100%;
}

.setting-toogle {
  padding: 16px 10px;
}

.save-button {
  font-weight: 600;
  height: 60px;
  width: 200px;
  margin: 20px 0 0 0;
}

.card-deck-container {
  border-radius: 2px;
}

.setting-card {
  width: 650px;
}

.checkbox {
  text-align: center;
  vertical-align: center;
}

.custom-slider {
  width: 80%;
}

.mat-input-wrapper {
  width: 300px !important;
}

.example-full-width {
  width: 80%;
}

.row {
  height: 100px;
}

.custom-one-slider {
  transform: scale(2.5);
}

mat-slide-toggle{
  transform: scale(1.5);
}

:host {
  .mat-slide-toggle {
    &.mat-checked {
      ::ng-deep.mat-slide-toggle-bar::after {
        content: 'ON';
        font-size: 45%;
        font-weight: 700;
        color: black;
        position: absolute;
        left: 4px;
        top: -5px;
      }
    }
    &:not(.mat-checked) {
      ::ng-deep.mat-slide-toggle-bar::after {
        content: 'OFF';
        font-size: 45%;
        font-weight: 700;
        color: white;
        position: absolute;
        left: 21px;
        top: -5px;
      }
    }
  }
}
