.setting-card {
  width: 70%;
}


.setting-toogle-div {
  width: 100%;
}

.setting-toogle {
  padding: 16px 10px;
}

.save-button {
  font-weight: 600;
  height: 60px;
  width: 200px;
  margin: 20px 0 0 0;
}

.card-deck-container {
  border-radius: 2px;
}

.setting-card {
  width: 650px;
}

.checkbox {
  text-align: center;
  vertical-align: center;
}

.custom-slider {
  width: 80%;
}

.mat-input-wrapper {
  width: 300px !important;
}

.example-full-width {
  width: 80%;
}

.row {
  height: 100px;
}

.custom-one-slider {
  transform: scale(2.5);
}
