.setting-card {
  width: 70%;
}


.setting-toogle-div {
  width: 33%;
}

.setting-toogle {
  padding: 10px 10px;
}

.save-button {
  font-weight: 600;
  height: 60px;
  width: 200px;
  margin: 20px 0 0 0;
}
