<mat-card [ngStyle]="{'width':'400' + 'px'}">
  <mat-card-header style="justify-content: left">
    <mat-card-title>
      <div>
        ID: {{ meeting.id }}
      </div>
      <div>
        Name: {{ meeting.name }}
      </div>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ul *ngFor="let content of meeting.content">
      <li>
        {{ content }}
      </li>
    </ul>
  </mat-card-content>
  <mat-card-actions fxLayout="row" fxLayoutAlign="end center">
    <i class="app-icon fa fa-cog" (click)="settings($event)"></i>
    <i class="app-icon fa fa-history"></i>
  </mat-card-actions>
</mat-card>
