<div>
  <mat-card class="setting-card">
    <div fxLayout="row">
      <span class="app-spacer"></span>
      <i id="close-icon" class="app-icon fa fa-times-circle" (click)="onExitClick()"></i>
    </div>
    <mat-card-header style="justify-content: center">
      <mat-card-title style="text-align: center;">
        <h2>Create new meeting</h2>
      </mat-card-title>
    </mat-card-header>
    <ng-container
      *ngIf="meetings; then meetingsOn; else meetingsOff">
    </ng-container>
    <div>
      <ng-template #meetingsOn>
        <mat-card-content class="entire">
          <mat-form-field>
            <mat-select [(ngModel)]="selectedName" required>
              <mat-option *ngFor="let meeting of meetings" [value]="meeting.name">
                {{meeting.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="meetingControl.hasError('required')">Please choose an meeting</mat-error>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <div fxLayout="row" fxLayoutAlign="center center">
            <div fxFlex="50%" fxLayoutAlign="center center">
              <button class="save-button"
                      mat-flat-button
                      color="warn"
                      (click)="onRestoreClick()">
                Restore Default <i class="app-icon-medium fa fa-trash fa-2x"></i>
              </button>
            </div>
            <div fxFlex="50%" fxLayoutAlign="center center">
              <button class="save-button"
                      mat-flat-button
                      color="primary"
                      [disabled]="this.selectedName.length === 0"
                      (click)="onSaveClick()">
                Save changes <i class="app-icon-medium fa fa-save fa-2x"></i>
              </button>
            </div>
          </div>
        </mat-card-actions>
      </ng-template>
      <ng-template #meetingsOff>
        <div fxLayoutAlign="center center">
          <app-progress-bar></app-progress-bar>
        </div>
      </ng-template>
    </div>
  </mat-card>
</div>
